body{
    width: 800px;
    margin: auto;
    padding-top: 50px;
    margin-bottom: -20px;
    font-family: 'Oswald', sans-serif;
    background-color: #3A3A3C;
    color: #FFFFFF;
    font-weight: 300;
}

#content{
    margin: auto;
    text-align: center;
    width: 800px;
}

.header{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: .1px;
    font-weight: 300;
}

.flashcard-container {
    margin: auto;
    box-shadow: 0 0 5px #2A2A2C;
    border-radius: 7px;
    background-color: #FFFFFF;
    color: #3A3A3C;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    width:500px;
    height: 300px;
}

#start button{
    margin-top: 0px;
    box-shadow: 0 0 5px #555;
    border-radius: 4px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 175px;
    padding-right: 175px;
    background-color: #34C1C4;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: bold;
    border: none;
    color: #3A3A3C;
    font-family: 'Oswald', sans-serif;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    -ms-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

#start button:hover {
    background-color: #A2FBFC;
    color: #3A3A3C;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    -ms-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

.last-score-view{
    color: white;
    position: relative;
    top: -265px;
}

/*All button's style*/
#button {
    margin-top: 25px;
    box-shadow: 0 0 5px #555;
    border-radius: 4px;
    padding: 10px;
    background-color: #34C1C4;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    color: #3A3A3C;
    font-family: 'Oswald', sans-serif;
}

#button:hover {
    background-color: #A2FBFC;
}

#score {
    position: fixed;
    margin-right: 300px;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 1em;
}  

/*<div>*/
#card-text {
    width: 250px;
    margin-top: 75px;
    margin-left: -50px;
    float: right;
    font-size: 2em;
}

#image {
    margin-top: 10px;
    margin-left: 10px;
    float:left;
}

#card-interactions{
    width: 800px;
    margin: auto;
    align-content: center;
}

.last-score{
    color: red;
}
/*<div>*/
#flip {
    padding: 6px;
}

#right {
    margin-top: -6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
}

#wrong {
    padding: 6px;
}

#nextcard{
    padding: 6px;
}